<app-header></app-header>
<div class="container">
   <h2 class="text-center py-3">Product Details</h2>
   <div class="card">
    <div class="card-header">Card Details</div>
    <div class="card-body">
         Title:{{title}}<br>
   Car-Type:{{Name}} -: {{Cartype}}
  
    </div>
    <div class="card-footer">
        <input type="checkbox" [checked]="isSelected" name="" id="">Stock 
        <Button class="btn btn-info px-2">View Details>></Button>
    </div>
   </div>
  
</div>
<input type="text" [(ngModel)]="username" class="form-control">
{{username}}

<div class="py-5">
    <input type="checkbox" [(ngModel)]="isSelected">
    {{isSelected}}
</div>
<p class="text-danger">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, minus.</p>